
.clearing {
    clear: both;
}

.no-contacts {
    display: block;
    color: white;
    margin: 0 auto;
    align-content: center;
    font-weight: bold;
    font-size: 25px;
    align-items: center;
    margin-top: 25vh;
}

.contacts {
    display: none;
}

.no-scroll {
    overflow: hidden;
}

.scroll {
    overflow-y: scroll;
    overflow-x: hidden;
}

